@import 'tailwindcss';
@source "../views/**/*.blade.php";
@source "../../resources/views/**/*.blade.php";
@source "./resources/views/**/*.blade.php";
@source "../js/**/*.js";
@source "./resources/js/**/*.js";
@import './colors.css';
@import './components.css';
@import './utilities.css';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

@theme {
  --font-sans: 'Outfit', sans-serif;
}

@layer base {
    body {
        background-color: var(--color-background);
        color: var(--color-text);
        -webkit-font-smoothing: antialiased;
        font-family: 'Outfit', sans-serif;
    }
}

@utility bg-whatsapp {
  background-color: #25D366 !important;
}

@utility bg-whatsapp-hover {
  background-color: #20ba5a !important;
}
